.header {
  background-color: #333;
  overflow: hidden;
}

.header a {
  float: left;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a:active {
  background-color: #04AA6D;
  color: white;
}